
__pycache__/
*.py[cod]
*$py.class

airflow_logs/
airflow/dags/__pycache__/
airflow/dags/*.pyc

*.crc
*.log
*.out
*.err


.ipynb_checkpoints/

.DS_Store
Thumbs.db

.env
.venv/
env/
venv/
*.egg-info/


*.pid
*.sock

.vscode/
.idea/

data/
data_lake/

mysql_init/*.sql
postgres_init/*.sql

build/
dist/
*.egg

*.orig

requirements-local.txt

airflow.cfg
unittest.cfg
